{% extends 'EatSleepCodeFrontendBundle::frontend.html.twig' %}

{% block secondaryNav %}
    {% include 'EatSleepCodeFrontendBundle:League:nav.html.twig' %}
{% endblock %}

{% block content %}
    <main{% if app.user is not null %} class="left"{% endif %}>
        {% block leagueContent %}{% endblock %}
    </main>
    {% if app.user is not null %}
        <aside class="right sideBar">
            {% if league is defined %}
                {% if leagueId != 0 and league.ownerId != app.user.id %}
                    <section class="panel">
                        <h3>League actions</h3>
                        <ul>
                            <li><a href="{{ path('fe_leave_league', {'leagueId' : leagueId}) }}" class="deleteButton" data-msg="Are you sure you wish to leave this league? If you want to join it again later you will need to access code from the league owner.">Leave this league</a></li>
                        </ul>
                    </section>
                {% elseif league.ownerId == app.user.id %}
                    <section id="joinPanel" class="panel">
                        <h3>{{ league.code }}</h3>
                        <p>Give this code to users you would like to join your league.</p>
                    </section>
                    <section class="panel">
                        <h3>League actions</h3>
                        <ul>
                            <li><a href="{{ path('fe_edit_league', {'leagueId' : leagueId}) }}">Edit league</a></li>
                            <li><a href="{{ path('fe_delete_league', {'leagueId' : leagueId}) }}" class="deleteButton" data-msg="Are you sure you wish to remove this league? It will clear all stats and the entrants will no longer be able to access it.">Delete league</a></li>
                        </ul>
                    </section>
                {% endif %}
            {% endif %}

            <section class="panel">
                <h3>Leagues you own</h3>
                <ul>
                    {% for league in myLeagues %}
                        <li><a href="{{ path('fe_league_table', {'leagueId' : league.id}) }}">{{ league.name }}</a></li>
                    {% endfor %}
                    <li class="clearfix"><a class="right" href="{{ path('fe_create_league') }}">Create new league</a></li>
                </ul>
            </section>

            <section class="panel">
                <h3>Leagues you participate in</h3>
                <ul>
                    <li><a href="{{ path('fe_league_table') }}">ESC Global League</a></li>
                    {% for league in app.user.leagues %}
                        {% if league.owner != app.user %}
                            <li><a href="{{ path('fe_league_table', {'leagueId' : league.id}) }}">{{ league.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="clearfix"><a class="right" href="{{ path('fe_join_league') }}">Join a league</a></li>
                </ul>
            </section>
        </aside>
    {% endif %}
{% endblock %}
