{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Change password | My Account{% endblock %}

{% block heading %}Change password{% endblock %}

{% block fos_user_content %}
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
		{{ form_widget(form) }}
        <div class="formRow clearfix">
            <button type="submit" class="right">{{ 'change_password.submit'|trans }}</button>
            <a href="{{ path('fos_user_profile_edit') }}" class="left">&lt; Back</a>
        </div>
	</form>
{% endblock fos_user_content %}
